{% extends 'forum/base.html' %}

{% block content %}

<div class="container">
    <div class="alert alert-dark" role="alert">

    <h1 class="title"> {{post.title }}</h1>
    <small>Posted at {{post.date_added }}</small>
    <p>{{post.intro }}</p>

    <p>{{ post.body|safe }}</p>

    <hr>
    <div class="alert alert-light" role="alert">
{% for comment in post.comments.all %}

<article class="media">
<div class="media-content">

<div class="content">

<p style="font-weight:bold"> {{ comment.name }}<br>{{ comment.date_added }}</p>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <div style="margin-left: 10px;margin-top:10px;">
{{ comment.body|safe}} 
</div>
</div>
</div>
</article>

{% empty %}
<div class="notification">
    <p>No comments yet</p>
</div>
{% endfor %}
</div>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <br><h2 style="margin-left:5% ;">Add Comment</h2><br>

        <form style="margin-left: 20%;font-weight: bold;" method='post' action='.'>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}


                <button style="float: right;margin-right: 20%;" class="btn btn-dark">Submit</button>
                <a style="float: right;margin-right: 1%;" class="btn btn-dark" href="{% url 'frontpage' %}" >Back</a>  
        </form>
 <br>
 <p>&nbsp;</p>
    </div>
</div>

</div>



</div>
</div>
{% endblock %}