.u-section-1 {
  background-image: url("images/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 448px;
  margin: 170px auto 170px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  margin: 35px 315px 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 15px 359px 0 20px;
}

.u-section-1 .u-btn-1 {
  margin-left: 20px;
  margin-right: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin-bottom: 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 705px;
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 296px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    position: relative;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 87px;
    margin-bottom: 87px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-1 {
    min-height: 607px;
    margin-top: 86px;
    margin-bottom: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 107px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 388px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 45px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 45px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 618px;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 39px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-3 .u-text-1 {
  width: 680px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 20px auto 39px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .embed-responsive-1 {
    width: 188%;
    left: -44%;
    height: 100%;
    top: 0%;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 847px;
}

.u-section-4 .u-shape-1 {
  height: 199px;
  margin-top: 212px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-layout-wrap-1 {
  width: 863px;
  margin: -351px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-image-1 {
  background-image: url("images/health-pic-1.jpg");
  background-position: 50% 50%;
  min-height: 622px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 166px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 30px 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 683px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 519px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 553px;
  }

  .u-section-4 .u-shape-1 {
    height: 154px;
    margin-top: 193px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -287px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 389px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 409px;
  }

  .u-section-4 .u-shape-1 {
    height: 153px;
    margin-top: 106px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -199px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 245px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 825px;
}

.u-section-5 .u-group-1 {
  width: 996px;
  min-height: 256px;
  margin: -1px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 47px 20px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 27px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(115, 163, 222) !important;
  margin: 44px auto 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 161px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(115, 163, 222) !important;
  margin: 44px auto 0 20px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 167px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(115, 163, 222) !important;
  margin: 44px auto 0 20px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -77px 15px 0 102px;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-5 .u-image-1 {
  width: 640px;
  height: 563px;
  margin: -27px auto -54px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-5 .u-group-1 {
    width: 642px;
    margin-top: 31px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -5px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 534px;
  }

  .u-section-5 .u-image-1 {
    width: 510px;
    height: 532px;
    margin-top: 4px;
    margin-bottom: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-image-1 {
    width: 400px;
    height: 414px;
    margin-top: 44px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-5 .u-group-1 {
    width: 542px;
    margin-top: 35px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-image-1 {
    width: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-image-1 {
    width: 390px;
    height: 470px;
    margin-bottom: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 277px;
}

.u-section-6 .u-group-1 {
  width: 700px;
  min-height: 163px;
  margin: 57px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 577px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 442px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 414px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 57px auto 57px 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/77777532-0.jpeg");
  min-height: 437px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 437px;
  background-image: none;
}

.u-section-7 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 857px;
}

.u-section-8 .u-group-1 {
  width: 745px;
  min-height: 154px;
  margin: 69px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 10px 0;
}

.u-section-8 .u-text-2 {
  width: 556px;
  margin: 20px auto 15px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 45px auto 65px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 490px;
  background-image: none;
}

.u-section-8 .u-image-1 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-8 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-8 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-8 .u-link-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 490px;
}

.u-section-8 .u-image-2 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-8 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-8 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-8 .u-link-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 490px;
}

.u-section-8 .u-image-3 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-8 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-8 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-8 .u-link-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 614px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-8 .u-text-2 {
    width: 458px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-link-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-link-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-link-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 471px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    width: 351px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-link-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-link-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-image-3 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-link-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 441px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-text-2 {
    width: 329px;
  }

  .u-section-8 .u-image-1 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-link-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-2 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-link-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-3 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-link-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-8 .u-text-2 {
    width: 276px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-8 .u-image-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-8 .u-image-2 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-link-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-8 .u-image-3 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-link-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 798px;
}

.u-section-9 .u-group-1 {
  width: 570px;
  min-height: 167px;
  margin: 32px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-9 .u-image-1 {
  width: 912px;
  height: 497px;
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-9 .u-group-1 {
    width: 470px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-9 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-9 .u-image-1 {
    width: 752px;
    height: 427px;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-9 .u-group-1 {
    width: 504px;
    min-height: 174px;
    margin-top: 39px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-1 {
    width: 648px;
    height: 357px;
    margin-bottom: 75px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-9 .u-group-1 {
    width: 338px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-image-1 {
    height: 288px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-9 .u-group-1 {
    width: 283px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-image-1 {
    height: 189px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 599px;
}

.u-section-10 .u-group-1 {
  width: 570px;
  min-height: 157px;
  margin: 47px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 20px 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 20px 15px;
}

.u-section-10 .u-form-1 {
  height: 314px;
  width: 737px;
  margin: 16px auto 60px;
}

.u-section-10 .u-form-group-4 {
  text-align: center;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-10 .u-group-1 {
    width: 470px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-10 .u-form-1 {
    width: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    width: 360px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-10 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 338px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-form-1 {
    width: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 283px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-10 .u-form-1 {
    width: 340px;
  }
}